<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.MemberMapper">
	
	<resultMap type="Member" id="resultMember">
		<id column="mem_id" property="memId"/>
		<result column="mem_pw" property="memPw"/>
		<result column="mem_tpw" property="memTpw"/>
		<result column="mem_name" property="memName"/>
		<result column="mem_birth" property="memBirth"/>
		<result column="mem_phone" property="memPhone"/>
		<result column="mem_email" property="memEmail"/>
		<result column="mem_address" property="memAddress"/>
		<result column="mem_detailaddr" property="memDetailaddr"/>
		<result column="mem_mileage" property="memMileage"/>
		<result column="mem_join" property="memJoin"/>
		<result column="mem_withdrawal" property="memWithdrawal"/>
		<collection property="discount" resultMap="com.yi.mapper.DiscountMapper.resultDiscount" />
	</resultMap>
	
	<select id="listMember" resultMap="resultMember">
		select * from member;
	</select>
	
	<select id="selectMemberByIdPw" resultMap="resultMember">
		select * from member where mem_id = #{memId} and mem_pw = #{memPw}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member(mem_id, mem_pw, mem_tpw, mem_name, mem_birth, mem_phone, mem_email, mem_address, mem_detailaddr) values 
		(#{memId},#{memPw},#{memTpw},#{memName},#{memBirth},#{memPhone},#{memEmail},#{memAddress},#{memDetailaddr})
	</insert>
	
	<select id="selectMemberById" resultMap="resultMember">
		select * from member where mem_id = #{memId}
	</select>
	
	<select id="selectMemberByPhone" resultMap="resultMember">
		select * from member where mem_phone = #{memPhone}
	</select>
	
	<update id="updateMileage">
		update member set mem_mileage = #{mileage} where mem_id = #{id}
	</update>
	
	<select id="selectMileage" resultType="int">
		select mem_mileage from member where mem_id = #{memId}
	</select>
</mapper>