<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.TrainSeatTrainTimeMapper">
	
	<resultMap type="TrainSeatTrainTime" id="resultTrainSeatTrainTime">
		<result column="ts_car" property="tsCar"/>
		<result column="ts_no" property="tsNo"/>
		<result column="ts_choice" property="tsChoice"/>
		<result column="tt_start_time" property="ttStartTime"/>
		<association property="tCode" resultMap="com.yi.mapper.TrainMapper.resultTrain2" />
		<association property="nodeid" resultMap="com.yi.mapper.CityTrainMapper.resultCityTrain2" />
	</resultMap>
	
	<select id="listTrainSeat" resultMap="resultTrainSeatTrainTime">
		<!-- select * from train_seat ts join train_time tt on ts.t_code = tt.t_code join city_train ct on ct.nodeid = tt.nodeid 
		where ts.t_code = #{tCode} and tt.tt_start_time = #{startTime} -->
		select * from train_seat ts join (
		select tr.t_code, tr.t_ti_no as ti_no, tr.ti_name, tr.t_start_time, trti.tt_start_time, tr.t_start as start_nodeid, tr.nodename as start_nodename, trti.nodeid as arrive_nodeid, trti.nodename as arrive_nodename, trti.price from 
		(select t.t_code, t.t_ti_no, t.t_start_time, t.t_arrive_time, t.t_start, ct.nodename, ti.ti_name from train t join city_train ct on t.t_start = ct.nodeid join train_info ti on ti.ti_no = t.t_ti_no where ct.nodename = #{start}) tr join 
		(select tt.t_code, tt.tt_start_time, tt.price, ct.nodename, tt.nodeid from train_time tt join city_train ct on tt.nodeid = ct.nodeid where ct.nodename = #{arrive}) trti
		on tr.t_code = trti.t_code) ttm
		on ts.t_code = ttm.t_code
		where tt_start_time = #{startTime} and ts.t_code = #{tCode}
	</select>
</mapper>