<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.mapper.TrainSeatMapper">
	
	<resultMap type="TrainSeat" id="resultTrainSeat">
		<id column="ts_car" property="tsCar"/>
		<id column="ts_no" property="tsNo"/>
		<result column="ts_choice" property="tsChoice"/>
		<association property="tCode" resultMap="com.yi.mapper.TrainMapper.resultTrain2" />
	</resultMap>
	
	<select id="listTrainSeat" resultMap="resultTrainSeat" parameterType="TrainSeat">
		<!-- select ts.ts_car, ts.ts_no, ts.ts_choice, t.t_code from train_seat ts join train t on ts.t_code = t.t_code -->
		select * from train_seat ts join train t on ts.t_code = t.t_code where ts.t_code = #{tCode.tCode}
	</select>
	
	<update id="updateTsChoice" parameterType="TrainSeat">
		update train_seat set ts_choice = true where t_code = #{tCode.tCode} and ts_no = #{tsNo} and ts_car = #{tsCar}
	</update>
	
	<update id="updateTrainSeatByNow">
		update train_seat ts join train_time tt on ts.t_code = tt.t_code join city_train ct on ct.nodeid = tt.nodeid set ts.ts_choice = 0 where tt.tt_start_time <![CDATA[<=]]> now() and ts.t_code = #{tCode} and ct.nodename = #{arrive}
	</update>
	
	<update id="updateTsChoiceCancel" parameterType="TrainSeat">
		update train_seat set ts_choice = false where t_code = #{tCode.tCode} and ts_no = #{tsNo} and ts_car = #{tsCar}
	</update>
</mapper>